<nav class="nav-wrapper">
  <div class="container">
    <a href="/">Home</a>
    <a href="#" class="sidenav-trigger" data-target="mobile-menu">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">      
        <li><a href="/#contact">Contact</a></li>
    </ul>
    <ul class="sidenav grey darken-3" id="mobile-menu">
        <li><a class="white-text" href="/#about">About</a></li>
    </ul>
  </div>
</nav>