<div class="sidebar">
  <a class="active" href="/">Home</a>
  <a class="active" href="/fitbit">Fitbit</a>
</div>
<div>
  <a href="#" class="sidenav-trigger" data-target="mobile-menu">
    <i class="material-icons">menu</i>
  </a>
  <ul class="right hide-on-med-and-down">
  </ul>
  <ul class="sidenav grey darken-3" id="mobile-menu">
    <li><a class="white-text" href="/#about">About</a></li>
  </ul>
</div>